
.btn1 
{
    position: absolute;
    top: 24rem;
    left: 60rem;

}
.btn2
{
  position: absolute;
    top: 24rem;
    left: 47rem;

}
.btn3 
{
  position: absolute;
    top: 24rem;
    left: 35rem;

}